.Rproj.user
.Rhistory
*.RData
ngerNy.Rproj
*.Rproj
testing
*.png
*.docx
*.lof
*.log
*.tex
*NGERSamledok.pdf
*.lot
*.synctex.gz
*NGERSamledok.tex
*.toc
*.sty
*test.pdf
*.gitignore
*NGERSamledok-concordance.tex
inst/doc

figure
NGERmonthlyReport.pdf
NGERmonthlyReport.tex
config
nger.Rproj
*.pdf
testRAND36.csv
testRAND36.xlsx
figurer/
